@import '../../../assets/styles/global-styles.scss';

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $light-gray-color;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid $gray-color;
  font-size: 14px;
}

.copy-right-text {
  font-family: $primary-font-family;
  color: $primary-color;
}