:host ::ng-deep {
    .p-datatable-gridlines .p-datatable-thead>tr>th {
        background-color: #1E3A8A;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: bold;
        }

    .p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
        background-color: #fff;
        color: #1E3A8A;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: normal;
    }
}

.request-access-button {
    padding: 10px 15px;
    color: white;
    border: 1px solid #fff;
    background-color: #1E3A8A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 43%;
}

.request-access-button:hover {
    transition: background-color 0.3s ease;
    background-color: #fff;
    color: #1E3A8A;
    border: 1px solid #1E3A8A;
}

.welcome-note {
    color: #1D4ED8;
    font-size: 18px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.app-note {
    color: #1D4ED8;
    font-size: 18px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.support-email {
    color: #1E3A8A;
    text-decoration: underline;
    cursor: pointer;
}